.box{
    height : 100px;
    width : 100px;
    border : 1px solid black;
    margin : 5px;
    text-align : center;
    background-color : pink;
}

/* h1 {
    color: "blue";
    background-color: yellow;
    text-decoration: line-through;
}
body{
    background-color : pink;
}
button{
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
} */